.homeContainer {
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headerText {
  font-size: 8em;
  text-align: center;
}

.profileImage {
  border-radius: 50%;
}
