.nav {
  position: fixed;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 10px;
  z-index: 10;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  height: 20px;
}

.active {
  border-bottom: 2px solid #fff;
}

.separator {
  height: 20px;
  width: 3px;
  background: #fff;
}

.nav-link:last-child {
  border-right: none;
}

@media only screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.3em;
    height: 30px;
  }

  .separator {
    height: 30px;
    width: 3px;
    background: #fff;
  }
}
