.nav {
  background: royalblue;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
